<div class="area">
  <div class="contents_index">
    <h2 class="heading_name"><%= image_tag 'めもぐま-03.png', size: '50x50'%> 謎解き一覧</h2>
    <div class="middle_content">
      <ul class="nazotoki_list">
        <li class="nazotoki">
          <%= image_tag 'めもぐま-03.png', size: '50x50'%><a href="answers/nazotoki1_0"><b>メモリーとふしぎなメモの謎?</b></a><div class="nanido">難易度★☆☆☆ 🔰＆親子向け</div><br>
          <%= image_tag 'めもぐま-03.png', size: '50x50'%><h5 href= "/answers/nazotoki2_1">メモリーと魔法の図書館①　〜作成中〜</h5>
          <p href= "/answers/nazotoki3_1">・</p>
          <p href= "/answers/nazotoki4_1">・</p>
          <p href= "/answers/nazotoki5_1">・</p>
        </li>
      </ul>
    </div>
  </div>
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
</div >
  
