<div class="area">
  <div class="contents_index">
    <div class="setsumei">
    <br>
      <h1>おうちでなぞとき!</h1>
    <a>こちらのサイトでは、お家でできる謎解きを無料で体験できるサイトです<br>
    また、おすすめのボードゲームや脱出ゲームについて発信していきます</a>
    </div>
    <h2 class="heading_name"><%= image_tag 'めもぐま-03.png', size: '50x50'%>
    謎解き一覧
    </h2>
    <div class="middle_content">
      <ul class="nazotoki_list">
        <li class="nazotoki">
          <%= image_tag 'めもぐま-03.png', size: '50x50'%><a href="answers/nazotoki1_0"><b>メモリーとふしぎなメモの謎?</b></a><h5 class="nanido">難易度★☆☆☆ 🔰＆親子向け</h5><br>
        </li>
        <li>
          <%= image_tag 'めもぐま-03.png', size: '50x50'%><a><b>メモリーと魔法の図書館①作成中</b></a>
          <h5 class="nanido">難易度★★☆☆</h5><br>
        </li>
          <p href= "/answers/nazotoki3_1">・</p>
          <p href= "/answers/nazotoki4_1">・</p>
          <p href= "/answers/nazotoki5_1">・</p>
        </li>
      </ul>
    </div>
  </div>
  <ul class="circles">
                    <li>キ</li>
                    <li>？</li>
                    <li>ト</li>
                    <li>ゾ</li>
                    <li>！</li>
                    <li>メ</li>
                    <li>？</li>
                    <li>ナ</li>
                    <li>リ</li>
                    <li>モ</li>
                    <li>■</li>
                    <li>▲</li>
                    <li>○</li>
                    <li>✖︎</li>
            </ul>