<div class="contents">
  <div class="nazotoki">
  <a>よし！さいごのなぞまでたどりついたぞ！<br>
  でも、メモはつかいきってしまったなぁ。どうすればいいんだろう・・・<br>
  あっ！そういえば、こたえってどうすればよかったんだっけ・・・？
  </a>
    <div class="q1_4">
      <div class="q1_4_1">
          <%= image_tag '最終問題ai.png', size: '500x500' %>
      </div>
    </div>
  </div>
</div>