<div class="contents">
  <div class="nazotoki">
  <br>
  <a>よし！さいごのなぞまでたどりついたぞ！<br>
  でも、メモはつかいきってしまったなぁ。どうすればいいんだろう・・・<br>
  あっ！そういえば、こたえってどうすればよかったんだっけ・・・？
  </a>
  <br>
  <br>
  <br>
    <div class="q1_4">
      <div class="q1_4_1">
          <%= image_tag '最終問題ai.png', size: '500x500' %>
      </div>
    </div>
  </div>
  <div class="modoru1">
  <a href="/answers/nazotoki1_1">1もんめにもどる</a><a>　　</a>
  <a href="/answers/nazotoki1_2">2もんめにもどる</a><br><br>
  <a href="/answers/nazotoki1_3">3もんめにもどる</a><a>　　</a>
  <a href="/answers/nazotoki1_4">4もんめにもどる</a>
  </div>
</div>