<div class="area">
  <div class="clear1">
      <a>メモリーとふしぎなメモのなぞ<br>
      <b>クリア！</b></a>
    <%= image_tag 'memoguma-06.png', size: '300x300' %>
    
    <ul class="circles">
                    <li>キ</li>
                    <li>？</li>
                    <li>ト</li>
                    <li>ゾ</li>
                    <li>！</li>
                    <li>メ</li>
                    <li>？</li>
                    <li>ナ</li>
                    <li>リ</li>
                    <li>モ</li>
                    <li>■</li>
                    <li>▲</li>
                    <li>○</li>
                    <li>✖︎</li>
            </ul>
            <br>
    <div class="senden">
　　  <a>「#なぞときメモリーの部屋」でシェアしよう！ <br>次のなぞときは「まほう」が合言葉だよ！</a>
    </div>
  </div>
</div>