<div class="contents">
  <div class="nazotoki">
    <a><br>
    アレ？カタカナシカハナセナクナッチャッタ！<br>
    コノモンダイヲオクッテキタヒトハダレナンダロウ</a><a href= "/answers/nazotoki1_4">ネ</a>・・・<br>
    <a>コレハ3マイメノメモニカイテコタエヨウ！<br>
<br>
    チナミニ、メモノクロイマルハチャントアワセテイルカナ？</a>
    <div class="q1_3">
      <div class="q1_3_2">
          <%= image_tag 'kisoku1.png', size: '700x700' %>
      </div>
    </div>
    <a href="/answers/nazotoki1_2">2もんめにもどる</a>
  </div>
</div>
<div class="hint">
  さかなのなまえはむずかしいよ　さいごはななめによんでみよう！
</div>