  <div class="dounyu">
    <a class="dounyu"><b>ようこそ　なぞときのせかいへ！<br></b>
    まずはこの動画をごらんください！<br>
    ルールと準備物説明　URL<br>
    ※謎解きはすべての情報がヒントになります。見逃さないように！</a><br>
    <a class="nazotoki1-0" href="/answers/nazotoki1_1"><u>メモリーとふしぎなメモの謎?</u>　に挑戦だ！</></a>
    <%= image_tag 'めもぐま-03.png', size: '200x200'%> 
    
  </div>
              