<div class="contents">
  <div class="nazotoki">
  <a>うわ〜！とってもおいしそうなデザートがたくさん！<br>
  こんかいは、すうじをメモにうつすわけではないみたいだなぁ<br>
  メモにはもじがはいりそう。
  </a>
    <div class="q1_4">
      <div class="q1_4_2">
          <%= image_tag '迷路2.png', size: '300x300' %>
      </div>
      <div class="q1_4_1">
          <%= image_tag '迷路1.png', size: '400x400' %>
          <div class="q1_4_answer">
            <a href="/answers/nazotoki1_5">　</a>
          </div>
      </div>
    </div>
    <a href="/answers/nazotoki1_3">3もんめにもどる</a>
  </div>
</div>
<div class="hint">
  じゅんばんどおりにうめてみよう！
</div>