<div class="contents row">
  <div class="container">
  <%= form_with url: @answer do |form| %>
    <%= form.text_field :answer %>
    <%= form.submit value:"メモリーにおくる" %>
  <% end %>
  感想はtwitter　もしくは、Line@でご連絡ください！
  </div>
</div>
