.contents_index{
  z-index: 20;
  height: 80vh;
  width: 100vw;
  text-align: center;
  margin: 0px auto;
  position: relative;
  
}

.setsumei{
  font-size: 18px;
}
.setsumei h1{
  font-size: 40px;
  font-family: "Yusei Magic";
}
]

.nanido{
  font-size: 15px;
}

.heading_name{
  font-size: 20px;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid black;
  width: 50vw;


}
.middle_content{
}

.nazotoki_img{
  display: inline-block;
  height: 100px;
  width: 100px;
}
.nazotoki_name{
  font-size: 16px;
  text-align: center;
}
.nazotoki_list {
  justify-content: space-around;
}
.nazotoki{
  z-index: 30;
text-align: center;
}
.nazotoki a{
  font-size: 25px;
}


.dounyu{
  z-index: 20;
  font-family: "Yusei Magic";
  height: 1084px;
  text-align: center;
  margin: 0px auto;
  font-size: 30px;
}

.dounyu a{
  z-index: 50;
  position: relative;
}

.hint{
  font-size: 1px;
  color: rgba(223, 221, 221, 0.815);
  left: 0px;
  bottom: 0px;
  position: fixed;
  margin-bottom: 6px;
}
.contents{
  z-index: 20;
  font-family: "Yusei Magic";
  height: 1000px;
  text-align: center;
  margin: 0px auto;
  background-image: url(https://beiz.jp/images_L/paper/paper_00108.jpg)
}

.contents p{
  font-size: 20px;
}
